<mat-card fxFlex="30" class="mat-elevation-z8">

  <mat-card-header>

    <mat-card-title>Getting text from the server</mat-card-title>

  </mat-card-header>

  <mat-card-content>

    <mat-list>

      <mat-list-item *ngFor="let p of productsIds; let i = index">

        <mat-icon mat-list-icon>shop</mat-icon>
        <h4 mat-line *ngIf="p.name != ''">{{p.name}}</h4>
        <h4 mat-line *ngIf="p.name == ''">Product {{i}}</h4>
        <button mat-icon-button color="primary" (click)="loadName(p._id, i)" *ngIf="p.name == ''">
          <mat-icon>refresh</mat-icon>
        </button>

      </mat-list-item>

    </mat-list>

  </mat-card-content>

  <mat-card-actions></mat-card-actions>

    <button mat-button color="primary" (click)="getProductsIds()">

      <mat-icon>swap_vert</mat-icon>Get IDs

    </button>

  <mat-card-footer>

    <mat-progress-bar mode="query" *ngIf="loading"></mat-progress-bar>

  </mat-card-footer>

</mat-card>
